.root {
    -fx-font-size: 13px;
    -fx-font-family: courier;
    -fx-background-color: #333333;
}

.label {
    -fx-text-fill: #7F7F7F;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #4d4d4d;
    -fx-background-color: #333333;
}

.tab:hover {
    -fx-cursor: hand;
    -fx-border-color: #ff0000;
}

.tab-label {
    -fx-text-fill: #a6a6a6;
}

.tab-header-background {
    -fx-background-color: #262626;
}

.tab:selected {

    -fx-background-color: #4d4d4d;
}

.tab:selected .tab-label{
    -fx-text-fill: #ff0000;
}

.tab-pane {
    -fx-padding: 10px;
    -fx-background-color: #262626;
}

.text-field {
    -fx-text-fill: #a6a6a6;
    -fx-border-color: #4d4d4d;
    -fx-background-color: #333333;
}

.text-field:focused {
    -fx-text-fill: #ff0000;
    -fx-border-color: #ff0000;
}

.chart {
    -fx-padding: 1px;
}

.chart-plot-background {
    -fx-background-color: #262626;
}

.chart-vertical-grid-lines {
    -fx-stroke: #333333;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #333333;
}

.chart-horizontal-zero-line {
    -fx-stroke: #7F7F7F;
}

.chart-vertical-zero-line {
    -fx-stroke: #7F7F7F;
}

.axis {
    -fx-tick-label-fill: #7F7F7F;
    -fx-text-fill: #4d4d4d;
}

.chart-symbol {
    -fx-background-radius: 10px;
    -fx-padding: 1px;
}

.default-color0.chart-symbol {
    -fx-background-color: ff0000;
}

.default-color1.chart-symbol {
    -fx-background-color: #7F7F7F;
}

.button {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #262626;
    -fx-background-color: #ff0000;
}

.button:hover {
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #e60000;
    -fx-scale-y: 0.97;
    -fx-scale-x: 0.97;
}

/*dark-dark-gray: #0d0d0d */
/*orange-red: #ff3300 */
/*blue: #00baff; */
/*red: #ff0000;*/
/*orange: #ffa500;*/
/*grey: #7F7F7F;*/
/*black: #000000;*/

/*
GRAY BUTTON
.button {
    -fx-text-fill: #ff3300;
    -fx-border-color: #4d4d4d;
    -fx-background-color: #4d4d4d;
}

.button:hover {
    -fx-cursor: hand;
    -fx-border-color: #ff3300;
    -fx-background-color: #4d4d4d;
}

.button:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}
*/