.chart {
    -fx-padding: 1px;
}

.chart-plot-background {
    -fx-background-color: #fff;
}

.chart-symbol {
    -fx-background-radius: 10px;
    -fx-padding: 1px;
}

.default-color0.chart-symbol {
    -fx-background-color: #00baff;
}

.default-color1.chart-symbol {
    -fx-background-color: #7F7F7F;
}

/*red: #ff0000;*/
/*orange: #ffa500;*/
/*grey: #7F7F7F;*/
/*black: #000000;*/