.chart-content {
    //-fx-background: #000000
}

.chart-symbol {
    -fx-background-radius: 10px;
    -fx-padding: 1px;
}

.default-color0.chart-series-line {
    -fx-stroke: #e9967a;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #e9967a, white;
}

.default-color1.chart-series-line {
    -fx-stroke: #f0e68c;
}
.default-color1.chart-line-symbol {
    -fx-background-color: #f0e68c, white;
}

.default-color2.chart-series-line {
    -fx-stroke: #dda0dd;
}
.default-color2.chart-line-symbol {
    -fx-background-color: #dda0dd, white;
}